html{
  position: relative;
  min-height: 100%;
}

.heading{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2.5rem;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.sub-heading{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5  rem;
  color: white;
}

/* background image */
body{
  /* background-image: url(images/pexels-magda-ehlers-4097160.jpg); */
  background-color: rgb(29, 32, 43);
  background-size: cover;
  

}

/* navigation bar */
.bg-custom, .footer {
  background-color: rgb(24, 18, 18);
}
/* jumbotron style*/
.jumbotron {
  background-color: transparent;
  text-align: center;
  letter-spacing: 2.5px;
  padding-right: 10px;
  margin-top: 135px;
}

/* footer style */
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}